<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Tayler Taylers HTML Template</title>

<%- include('head'); %>

<body>

<div class="page-wrapper">

    <!-- Main Header -->
    <%- include('header'); %>
    <!-- End Main Header -->

     <%- include(`./pages/${page}.ejs`); %>

    <!-- Footer -->
    <%- include('footer') %> 


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top"><a href="# " class="back-to-top " data-wow-duration="1.0s " data-wow-delay="1.0s "><i class="fa fa-angle-up "></i></a></div>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/jquery.fancybox.js"></script>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/appear.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/scrollbar.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/parallax-scroll.js"></script>
<script src="assets/js/script.js"></script>


</body>
</html>













